openapi: 3.0.3
info:
  title: User Accounts API
  description: API for managing user accounts in KongPaymo
  version: 1.0.0
servers:
  - url: https://api.kongpaymo.com/v1
paths:
  /users:
    post:
      summary: Create a new user account
      operationId: createUser
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserCreateRequest'
      responses:
        '201':
          description: User created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserResponse'
        '400':
          description: Invalid input
    get:
      summary: Search for users
      operationId: searchUsers
      parameters:
        - name: name
          in: query
          required: false
          schema:
            type: string
        - name: phone
          in: query
          required: false
          schema:
            type: string
        - name: email
          in: query
          required: false
          schema:
            type: string
      responses:
        '200':
          description: Users found
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/UserResponse'
        '400':
          description: Invalid search parameters
  /users/{userId}:
    get:
      summary: Get user details
      operationId: getUser
      parameters:
        - name: userId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: User found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserResponse'
        '404':
          description: User not found
    put:
      summary: Update user information
      operationId: updateUser
      parameters:
        - name: userId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserUpdateRequest'
      responses:
        '200':
          description: User updated successfully
        '400':
          description: Invalid input
        '404':
          description: User not found
    delete:
      summary: Deactivate a user account
      operationId: deleteUser
      parameters:
        - name: userId
          in: path
          required: true
          schema:
            type: string
      responses:
        '204':
          description: User deactivated successfully
        '404':
          description: User not found
components:
  schemas:
    UserCreateRequest:
      type: object
      required:
        - email
        - name
        - phone
      properties:
        email:
          type: string
          format: email
        name:
          type: string
        phone:
          type: string
    UserUpdateRequest:
      type: object
      properties:
        name:
          type: string
        phone:
          type: string
    UserResponse:
      type: object
      properties:
        id:
          type: string
        email:
          type: string
          format: email
        name:
          type: string
        phone:
          type: string
        createdAt:
          type: string
          format: date-time
